Repository libranet/autoadd-bindir: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-json, check-toml, check-yaml, check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, name-tests-test, ruff-format, ruff-check, ty-check, mdformat

check-json:
  name: check json
  entry: uv run check-json
  language: system

check-toml:
  name: check toml syntax
  entry: uv run check-toml
  language: system

check-yaml:
  name: check yaml syntax
  entry: check-yaml
  language: system

check-ast:
  name: check ast
  entry: uv run check-ast
  language: system

check-builtin-literals:
  name: check builtin literals
  entry: uv run check-builtin-literals
  language: system

check-docstring-first:
  name: check docstring first
  entry: uv run check-docstring-first
  language: system

debug-statements:
  name: check debug statements
  entry: uv run debug-statement-hook
  language: system

end-of-file-fixer:
  name: fix end of files (EOF)
  entry: uv run end-of-file-fixer
  language: system

name-tests-test:
  name: pytests are prefixed tests_*.py
  entry: uv run name-tests-test
  args:
  - --pytest-test-first
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check
  args:
  - --fix
  language: system

ty-check:
  name: ty check
  entry: uv run ty check src/ tests/
  language: system
  pass_filenames: false

mdformat:
  name: mdformat
  description: format markdown files
  entry: uv run mdformat
  language: system

fix pylint alerts
  .just/pylint.justfile
  tests/conftest.py
  tests/test_sitecustomize.py
Due: check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, name-tests-test, ruff-format, ruff-check, ty-check

fix whitespace
  .just/pylint.justfile
Due: none

fix pyroma just-recipe
  .just/pyroma.justfile
Due: none

update vscode extensions
  .vscode/extensions.json
  .vscode/markdown.code-snippets
  .vscode/python.code-snippets
Due: none

undo autoformatting in toml
  pyproject.toml
Due: check-toml

bump packaging package to fix pyroma on 3.9
  uv.lock
Due: none

pin github-actions on commit-hash
  .github/workflows/linting.yaml
  .github/workflows/testing.yaml
Due: check-yaml

Add workflows: write permission to dependabot auto-merge job
  .github/workflows/dependabot-auto-merge.yaml
Due: check-yaml

Fix setup-uv version comment: v7.1.6 -> v8.0.0 released on 29-03-2026
  .github/workflows/linting.yaml
  .github/workflows/release.yaml
  .github/workflows/testing.yaml
Due: check-yaml

Fix codecov-action version comment: v5.5.2 -> v6.0.0 released on 26-03-2026
  .github/workflows/testing.yaml
Due: check-yaml

fix(dependabot): rename label uv to uv.lock
  .github/dependabot.yml
Due: check-yaml

fix(dependabot): rename label uv to uv.lock (#100)
  .github/dependabot.yml
Due: check-yaml

fix(about): make about.py metadata lookup type-checker-proof
  src/autoadd_bindir/about.py
Due: check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, ruff-format, ruff-check, ty-check

fix(about): make about.py metadata lookup type-checker-proof (#122)
  src/autoadd_bindir/about.py
Due: check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, ruff-format, ruff-check, ty-check

Path conditions:
  check-json: any of: \.json$, but not: ^.vscode/.*\.json
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  check-ast: any of: \.py$
  check-builtin-literals: any of: \.py$
  check-docstring-first: any of: \.py$
  debug-statements: any of: \.py$
  end-of-file-fixer: any of: \.py$
  name-tests-test: any of: ^tests/.*\.py$ and \.py$ and not (^tests/_helpers/.*\.py$)
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  ty-check: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$
